.betslip-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 16px 0px 16px;
    color: #5c5858;
    border-left: 2px solid #2f2d2f;
    margin-top: 76.7px;
}

.betslip-title-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 10px 10px 0 0 ;
    background-color: #131314;
}

.nobet {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }

.betslip-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-left: 1%;

}

.custom-list {
    list-style: none; 
    padding-left: 0; 
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.selectedBet .teamname {
    color: #000000;
}


.removeBetsContainer {
    margin-top: 20px;
}

.clearButton {
    background-color: #131314;
    border-top: red;
    border-bottom: red;
    flex-grow: 1;
}

@keyframes shake {
    0%, 100% { 
        transform: translateX(0); 
        color: red; 
        background-color: #2f2d2f;
    }
    10%, 90% { 
        transform: translateX(-3px); 
        color: red; 
        background-color: #2f2d2f;
    }
    20%, 80% { 
        transform: translateX(-5px); 
        color: red; 
        background-color: #2f2d2f;
    }
    30%, 70% { 
        transform: translateX(-3px); 
        color: red; 
        background-color: #2f2d2f;
    }
    40%, 60% { 
        transform: translateX(0); 
        color: red; 
        background-color: #2f2d2f;
    }
    50% { 
        transform: translateX(5px); 
        color: red; 
        background-color: #2f2d2f;
    }
}

  
.shake-animation {
    animation: shake .5s linear;
}


.submitBetsButton {
    /* background-color: #2b90ff; */
    background-color: #2f2d2f !important;
}

.submitBetsButton:hover {
    /* background-color: #2b90ff; */
    background-color: #2b90ff !important;
    color: #ffffff !important;
}
