.betslip-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    color: #5c5858;
    margin-right: 10%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-top: 76.7px;
}

.betslip-title-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    background-color: #faf8f8;
}

.betslip-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-list {
    list-style: none; 
    padding-left: 0; 
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.selectedBet {
    display: 'flex';
    flex-direction: 'column';
    background-color: '#ffffff';
    color: '#ffffff';
    border-radius: 2;
    padding: 2;
    box-shadow: '0 3px 10px rgba(0, 0, 0, 0.2)';
    max-width: 376;
    margin: 'auto';
}

.selectedBet teamname {
    color: "#ffffff"
}