/* bets.css */

.betslip-bet-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid #c55959;
    border-radius: 4px;
    background-color: #bb2222;
    margin-bottom: 10px;
}

.betslip-bet-info {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap between child elements as needed */
}

.betslip-bet-info-type, 
.betslip-bet-info-wager, 
.betslip-bet-info-payout {
    font-size: 14px;
    font-weight: 500;
}

.betslip-bet-remove {
    background-color: #ff4c4c; /* Red color */
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;

    /* Optional: Add hover effect for better UX */
    &:hover {
        background-color: #812e2e; /* Darker red on hover */
    }
}

.betslip-selectedTeam {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    width: 50%;
    align-items: flex-start;
    color: #ffffff;
}

.betslip-odds {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    color: #ffffff;
}

.betslip-betTeamNames {
    justify-content: flex-start;
    align-items: flex-start;
    color: #ffffff;
}