/* General Styles */
div {
    font-family: Arial, sans-serif; /* Adjust to your desired font */
    font-size: 18px; /* Adjust based on your preference */
    color: #ffffff;
    text-align: center;
}

/* Box Styles */
.form-container {
    display: inline-block;
    margin: 0px; /* Spacing between each form */
    border: 2px solid #3f7758; 
    border-radius: 5px; 
    width: 120px; /* Adjust based on your preference */
    height: 80px; /* Adjust based on your preference */
    text-align: center;
    justify-content: center;
}

.form-container:hover {
    background-color: rgb(58, 56, 80);
  }

.form-container:click {
    background-color: rgb(18, 170, 94);
}

.form-container div {
    margin: 4px 0;
}

/* Grid Styles */
.grid-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    border: '1px solid #E0E0E0';
}

.parentDiv {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.game-details-container {
    margin: 4px 0;
    display: flex;
    width: 900px;
    padding: 10px;
}