/* Container for the entire component */
.nfl-game-container {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: #131314;
  }
  
  /* Style for each team section */
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team-logo {
    width: 50px; /* Adjust as needed */
    height: 50px;
    margin-bottom: 5px;
  }
  
  /* Betting box styles */
  .bet-box {
    width: 100px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border: 2px solid #5087c4; /* You can adjust the color as required */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; /* Space between each box */
  }

  .bet-box:hover {
    border: 4px solid #5087c4; /* You can adjust the color as required */
    background-color: #2e3130;
  }
  
  /* This can be used to give space between team name and its corresponding betting boxes */
  .team + .bet-box:first-of-type {
    margin-left: 20px;
  }
  