.game-odds-header {
    display: flex;
    flex-wrap: wrap;
    background-color: #1d1e1f;
    margin: 0 auto;  /* combines both margin-right and margin-left */
    width: 900px;
    height: auto;
    padding-top: 40px;
}

.sport-name {
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    margin-left: 30px;
    width: 478px;
}

.betting-terms {
    display: flex;
    margin-right: 40px;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: #869d97;
    margin-right: 20px;
}

.betting-terms > h4 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: inherit;
    width: 124px;
}

/* .spread-header {
    padding: 5px;
}

.moneyline-header {
    padding: 5px;
}

.total-header {
    padding: 5px;
} */

/* Removed .moneyline-header and .total-header since their styles were identical and covered by the generic .betting-terms > div */


/* Container for the entire component */
.nfl-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: #131314;
    margin: 1px;
  }
  
  /* Style for each team section */
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team-logo {
    width: 50px; /* Adjust as needed */
    height: 50px;
    margin-bottom: 5px;
  }
  
  /* Betting box styles */
  .bet-box {
    width: 100px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border: 2px solid #5087c4; /* You can adjust the color as required */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; /* Space between each box */
  }

  .bet-box:hover {
    border: 4px solid #5087c4; /* You can adjust the color as required */
    background-color: #2e3130;
  }
  
  /* This can be used to give space between team name and its corresponding betting boxes */
  .team + .bet-box:first-of-type {
    margin-left: 20px;
  }

  