.account_icon {
    z-index: 1;
    position: relative;
}

.img {
    width: 200px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar {
    top: 0;
}

.my-bets-button:hover {
    z-index: 2000;
    background-color: #1d1e1f;
}