/* Sidebar */
.sticky-sidebar {
  display: flex;
  overflow-y: auto; 
  padding: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  background-color: #000000;
  border: 2px solid #ffffff;
  margin-left: 10%;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-list {
  list-style: none; 
  padding-left: 0; 
}

.list-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.list-item-image {
  width: 24px; 
  height: 32px; 
  margin-right: 10px; 
}


.sticky-sidebar * {
  color: #ffffff; 
}

.no-underline {
  text-decoration: none;
}

.list-item:hover {
  background-color: rgb(94, 97, 98);
}

