/* Sidebar */
.sticky-sidebar {
  display: flex;
  overflow-y: auto; 
  padding: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 8em;
  background-color: #000000;
  border-right: 2px solid #2f2d2f;
  margin-left: auto;
  margin-top: 76.7px;
}

.sidebar-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.custom-list {
  list-style: none; 
  padding-left: 0; 
}

.list-item {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.list-item-image {
  width: 24px; 
  height: 32px; 
  margin-right: 10px; 
}


.sticky-sidebar * {
  color: #ffffff; 
}

.no-underline {
  text-decoration: none;
}

.list-item:hover {
  background-color: #1d1e1f;
  border-radius: 1px;
  width: 100%;
}

