.submitBetsButton{
    display: 'flex';
    background-color: #2f2d2f;
}

.submitBetsButton:hover {
    background-color: #2b90ff;
    color: #aaaaaa;
}


/* @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
  
.shake-animation {
    animation: shake 0.5s linear;
} */
