.welcome-container {
    display: flex;
    position: fixed;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 300px;
    right: 250px;
}

.welcome {
    display: flex;
    position: fixed;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
    margin-left: 1%;
    top: 0;
}

.welcome-text {
    display: flex;
    position: fixed;
    top: 0;
    margin-left: 1%;
    color: #ffffff;
}

.balance {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.balance-text {
    display: flex;
    margin-left: 1%;
    color: #ffffff;
}