/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: rgb(0, 0, 0);
  margin: 0;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
}
header {
  background: #2b90ff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.gameDetails-container {
  background-color: rgb(37, 37, 110);
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  font-family: Arial, sans-serif;
}

/* Header */
.gameDetails-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Teams */
.team {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.team-name {
  color: #2490d9
}

.team-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Betting details */
.betting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #303030;
  border-radius: 5px;
}

.betting span {
  margin-right: 5px;
}

.betting-positive {
  color: green;
}

.betting-negative {
  color: red;
}



/* new game form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

/* Login */
